<app-header></app-header>
<div class="favorites-container">

  <h2 class="favorites-title"> Mes favoris</h2>

  <div class="favorites-grid">

    <div class="favorite-card" *ngFor="let f of favorites$ | async">

      <div class="favorite-title">{{f.title}}</div>

      <div class="favorite-company">
        🏢 {{f.company}}
      </div>

      <span class="favorite-location">
        📍 {{f.location}}
      </span>

      <button class="favorite-btn" (click)="remove(f.id!)">
        Supprimer
      </button>

    </div>

  </div>

</div>
<app-footer></app-footer>